.hat-builder-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.hat-builder-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--hat-builder-text-color);
}
