.gh-page-padding {
  padding: 5vw;
}

.hat-builder-container {
  max-width: 100%;
  height: 50%;
  background-color: var(--light-grey-2);
  position: relative;
  margin-top: 0px;
  border-radius: 2em;
  z-index: var(--zindex-hat-builder);
}
