/* Patch & Hat Drop Down Menus */
.hatBuilderDropDown {
  position: absolute;
  padding-top: 1rem;
  width: 100%;
  z-index: 15;
}

#patchDropDown {
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 15;
}

#hatDropDown {
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 15;
}

.hatBuilderCollectionList {
  position: relative;
  display: flex;
  flex-flow: column;
  width: auto;
  height: fit-content;
  background-color: #e3e2dea6;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid red 1px;
  border-radius: 15px;
  z-index: 15;
}

.hatBuilderCollectionCard {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  width: auto;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}

.hatBuilderCardImage {
  display: flex;
  position: relative;
  width: 85px;
  height: auto;
}